.app {
  width: 100%;
  min-width: 300px;
  min-height: 280px;
  flex-grow: 1;
  color: #86829d;
  background-color: #fff;
  box-shadow: 0 1px 150px rgba(0, 0, 0, .5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

ul {
  padding: 0;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

@media (min-height: 300px) {
  ul {
    max-height: calc(100vh - 240px);
  }
}

@media (min-width: 640px) {
  .app {
    max-width: 600px;
    border-radius: 20px;
    flex-grow: 0;
  }
}

h1 {
  text-align: center;
  font-size: 24px;
  padding: 0 0 10px;
  font-weight: 400;
  color: rgb(255, 38, 74);
  font-family: 'Paytone One';
}

